<a href="https://colab.research.google.com/github/JosephRoe/Phyton/blob/main/Phyton_%C3%87al%C4%B1%C5%9Fma.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
total = 0
num = int(input("Bir sayı giriniz."))
for i in range(1,num):
  if num % i == 0:
    total += i
if num == total:
  print(f"{num} sayısı bir özel sayıdır")
else:
  print(f"{num} sayısı özel bir sayı değildir.")

Bir sayı giriniz.9
9 sayısı özel bir sayı değildir.

In [ ]:
cumle = "Bugün tüm taraftarların Trabzonspor'u tutması gerekir"
enbüyük = cumle[cumle.index("T") : cumle.index("'")]
enbüyük

'Trabzonspor'

In [ ]:
num1 = int(input("Input a number: "))
num2 = int(input("Input second number: "))
if num1 > num2:
  small = num2
else :
  small = num1

for i in range(1,small + 1):
  if num1 % i == 0 and num2 % i == 0 :
    bolen = i

print(bolen)

Input a number: 12
Input second number: 6
6

In [ ]:
metin = "Yusuf is a good programmer and Yusuf is a good commander."

print("Yusuf appeared {} times at sentence" . format(metin.count("Yusuf")))

2
Yusuf appeared 2 times at sentence

In [6]:
ters_sırala = sorted([i for i in range(1,11)], reverse = True)

sırala = sorted([i for i in range(1,11)])

liste = [12, 21, 34, 14, 25, 46, 17, 8, 49, 10]

sıralı = sorted(liste)

ters_sıralı = sorted(liste,reverse=True)

[49, 46, 34, 25, 21, 17, 14, 12, 10, 8]

In [12]:
num1 = int(input("Please enter first number :"))
num2 = int(input("Now print second number :"))
toplam =[]
for i in range(1, num1+1) :
  if num1 % i == 0 :
    toplam += [i]
    num1 = num1 // i
for j in range(1, num2+1) :
  if num2 % j == 0 :
    toplam += [j]
    num2 = num2 // j

print(sorted(set(toplam)))

Please enter first number :10
Now print second number :6
[1, 2, 3, 5]

In [14]:
num =list(map(int, input("").split()))
if num[0] == num[1] or num[1] == num[2] or num[0] == num[2] :
  print(0)
else:
  print(sum(num))

12 23 45
80

In [17]:
num = list(map(int, input("please enter three number").split()))
if num[0] == num[1] or num[1] == num[2] or num[0] == num[2] :
  print("Please to enter same number")
else:
  print("Sum = ", sum(num))

please enter three number1 1 1
Please to enter same number