<a href="https://colab.research.google.com/github/D1524-JosephRoe/Phyton/blob/main/Untitled20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
sentence = input("give me a sentence : ")
words = sentence.split()
i=0
longest=0
while i < len(words):
  if len(words[i]) > longest:
    longest = len(words[i])
    kelime = words[i]
  i += 1
print("longest word :", kelime)
print("the length of the longest word :", longest)

give me a sentence : merhaba bugün günlerden prşmebe
longest word : günlerden
the length of the longest word : 9

In [7]:
for i in range(5):
  print(i, end=" ")

0 1 2 3 4

In [10]:
names = ["Ahmet", "Ali", "Adam", "Joseph", "Gabriel"]
for i in names:
  print("Hello ", i)

Hello  Ahmet
Hello  Ali
Hello  Adam
Hello  Joseph
Hello  Gabriel

In [20]:
liste=list()
for i in range(5):
  liste.append(i)
print(liste)

[0, 1, 2, 3, 4]

In [40]:
course = "clarusway"

counter=0
for i in course:
  counter += 1
  if counter < len(course):
    i = i + "-"

  print(i,  end="")

c-l-a-r-u-s-w-a-y

In [41]:
test = [(1,2), (3,4), (5,6)]
for i, j in test:
  print(i,j)

1 2
3 4
5 6

In [44]:
sayı = int(input("bir sayı giriniz: "))

for i in range(11):
  print(f"{sayı} * i =  " , sayı * i)

bir sayı giriniz: 5
5 * i =   0
5 * i =   5
5 * i =   10
5 * i =   15
5 * i =   20
5 * i =   25
5 * i =   30
5 * i =   35
5 * i =   40
5 * i =   45
5 * i =   50

In [60]:
sayı = int(input("bir sayı giriniz: "))

for i in range(1,11):
  print(f"{sayı} x {i} = " , sayı * i)

bir sayı giriniz: 7
7 x 1 =  7
7 x 2 =  14
7 x 3 =  21
7 x 4 =  28
7 x 5 =  35
7 x 6 =  42
7 x 7 =  49
7 x 8 =  56
7 x 9 =  63
7 x 10 =  70

In [65]:
text=["Bir", "İki", "Üç", "Dört", "Beş"]
rakam= (1,2,3,4,5)
isim= ("Yusuf", "Miraç", "Dilruba", "Dilara", "Furkan")
for i, j, k in zip(rakam, text, isim):
  print(i, ":" , j , "=",k)

1 : Bir = Yusuf
2 : İki = Miraç
3 : Üç = Dilruba
4 : Dört = Dilara
5 : Beş = Furkan

In [56]:
for i in range(10):
    print(str(i) * i)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [66]:
rakam= (1,2,3,4,5)
isim= ("Yusuf", "Miraç", "Dilruba", "Dilara", "Furkan")
dict(zip(rakam,isim))

{1: 'Yusuf', 2: 'Miraç', 3: 'Dilruba', 4: 'Dilara', 5: 'Furkan'}

In [70]:
evens = []
odds = []
for i in range(10):
  if i % 2 == 0:
    evens.append(i)
  else:
    odds.append(i)

print("evens =" , evens) 
print("odds =" , odds)

evens =  [0, 2, 4, 6, 8]
odds =  [1, 3, 5, 7, 9]

In [72]:
example=[12,3,5,56,23,43,6]

evens=0
odds=0
for i in example:
  if i % 2 == 0:
    evens +=1
  else:
    odds +=1

print("odds counts: ", odds)
print("evens counts: ", evens)

odds counts:  4
evens counts:  3